* {
  padding: 0;
  margin: 0;
  border-color: #27272a;
  border-style: solid;
  border-width: 0px;
}

body {
  background-color: #08080b;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
